@page
@model azure_new_web_app.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots page";
}

<div class="text-center">
    <h1 class="display-4">
        Testing Deployement Page   
    </h1>
    <h3>
        Application Page has been Successfuly Deployed
    </h3>

</div>