@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   @* <h1 class="display-4">Welcome to Azure web Application - Using Visual Studio</h1>*@
    <h1 class="display-4">Welcome to MicroSoft Azure For .Net Developers</h1>
    <h3>
        We are here to learn about the Microsoft Azure for DotNet Developers 
    </h3>
   @* <h3>@ViewData["Greeting"]</h3>*@

</div>
